/*alert*/
.jfx-alert-overlay > .depth-container > .jfx-alert-content-container,
.jfx-alert-overlay > .jfx-alert-content-container {
    -fx-background-color: rgba(248, 224, 230, 0.96);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}


/**Layout*/
.jfx-dialog-layout {
    -fx-pref-width: 300;
    -fx-pref-height: 130;
}


.jfx-dialog-layout > .jfx-layout-heading {
    -fx-padding: 14 5 14 14;
    -fx-alignment: center-left;
}

.jfx-dialog-layout > .jfx-layout-heading .label {
    -fx-font-size: 14;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-padding: 0 14 10 14;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-text-fill: black;
    -fx-font-size: 12;
}

.jfx-dialog-layout .label .jfx-svg-glyph {
    -fx-background-color: derive(rgba(241, 194, 241, 0.97), -20%);
}