/* 可以为所有控件设置相同规则 */
*:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /*边框颜色*/
}

/********************************table-view*********************************************/
.table-row-cell .text {
    -fx-fill: black;
}

.table-row-cell:selected .text {
    -fx-fill: black; /* 选中行的字体颜色 */
}

.table-row-cell:empty {
    -fx-background-color: transparent; /* 无数据行的背景颜色 */
}

.table-view .table-cell {
    -fx-border-color: transparent; /* 单元格边框颜色 */
}

.table-view .table-row-cell:focused {
    -fx-background-color: derive(#eaebf8, -20%); /* 透明背景，移除默认蓝色框 */
}

/*选中后的颜色修改*/
.table-view:selected {
    -fx-background-color: rgb(239, 242, 245);
}
/********************************table-view*********************************************/
/********************************list-cell*********************************************/

.list-cell:empty {
    -fx-background-color: transparent; /* 无数据行的背景颜色 */
}
/*选中后的颜色修改*/
.list-cell:selected {
    -fx-background-color: rgb(239, 242, 245);
}
/*********************************list-cell******************************************/

/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: derive(#d1e9ec, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 12;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: WHITE;
}


.error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

.error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error, .jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}