/********************************left-menu*********************************************/
.jvs-main {
    /*主要背景颜色*/
    -fx-base-background: derive(rgba(241, 194, 241, 0.97), -20%);
    /*tableview的选中背景颜色*/
    -fx-table-view-focused: derive(rgba(250, 224, 250, 0.16), -20%);
    /*字体颜色*/
    -fx-font-color: rgb(92, 2, 87);
}

*:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /*边框颜色*/
}

/*main-view左侧背景*/
.main-left {
    -fx-background-color: -fx-base-background;
}

.main-left .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 15 0 15 0; /* 上 右 下 左 */
}

.main-left .jfx-svg-glyph {
    -fx-background-color: #d7e4f1;
}

.main-left .jfx-svg-glyph:hover {
    -fx-background-color: #5c6a6c; /* 鼠标悬停时的背景颜色 */
    -fx-cursor: hand; /* 鼠标悬停时的指针样式 */
}

/*选中后的颜色修改*/
.main-left .list-cell:selected .jfx-svg-glyph {
    -fx-background-color: white;
}


/*********************************left-menu******************************************/
/**********************************center*****************************************/

.main-h-box {
    /*-fx-background-color: linear-gradient(to bottom, -fx-base-background, WHITE);*/
    /*-fx-background-color: -fx-base-background, WHITE;*/
    /*-fx-background-radius: 0, 10 0 0 0;*/
}

.main-center .table-view,
.main-center {
    -fx-background-color: white;
}


.main-center .table-view {
    -fx-padding: 5 10 0 10;
}

.main-center .table-view .table-cell,
.main-center .table-row-cell:empty,
.main-center .table-view .table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.main-center .table-row-cell .text {
    -fx-fill: -fx-font-color;
}

.main-center .table-view .table-row-cell:focused {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-width: 1 0 1 0; /* top, right, bottom, left */

}

.main-center .table-view .column-header {
    -fx-background-color: white;
    -fx-border-color: -fx-base-background;
    -fx-border-width: 1 0 1 0; /* top, right, bottom, left */
}

/* 修改 TableView 表头的字体颜色 */
.main-center .table-view .column-header .label {
    -fx-text-fill: -fx-base-background;
    -fx-alignment: center-left;
}

.main-center .table-row-cell:hover {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .jfx-text-field,
.main-center .jfx-combo-box {
    -jfx-focus-color: -fx-font-color;
    -fx-pref-width: 80;
}

/* 下拉列表项的悬停颜色 */
.main-center .jfx-combo-box .list-cell:hover {
    -fx-background-color: -fx-base-background;
    -fx-text-fill: white; /* 修改文字颜色 */
}

/**********************************center*****************************************/

/******button**********/

/* 在 CSS 文件中 */
.custom-shadow-button {
    -fx-background-color: transparent; /* 自定义背景色 */
    -fx-text-fill: -fx-base-background; /* 字体颜色 */
    -fx-padding: 5 10; /* 内边距 */
    -fx-font-size: 12px; /* 字体大小 */
    -fx-effect: dropshadow(gaussian, rgba(239, 162, 238, 0.97), 10, 0, 0, 5); /* 添加阴影效果 */
}

/* 在 CSS 文件中 */
.svg-button {
    -fx-effect: dropshadow(gaussian, -fx-base-background, 10, 0, 0, 5); /* 添加阴影效果 */
}

.svg-button .jfx-svg-glyph {
    -jfx-size: 15;
    -fx-background-color: -fx-base-background;
}

/******button**********/


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    /*-fx-decorator-color: rgba(248, 213, 248, 0.84);*/
    /*-fx-background-color: -fx-decorator-color;*/
    -fx-decorator-color: white;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: rgba(244, 235, 244, 0.97);
    -fx-border-width: 1 0 0 0;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: -fx-base-background;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: -fx-base-background;
}

.jfx-decorator .jfx-decorator-buttons-container .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

/******************************ERROR LABELS**********************/
.error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

.error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error, .jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

/******************************ERROR LABELS**********************/