/********************************left-menu*********************************************/
.jvs-main {
    /*主要背景颜色*/
    -fx-base-background: derive(rgba(241, 194, 241, 0.97), -20%);
    /*tableview的选中背景颜色*/
    -fx-table-view-focused: derive(rgba(250, 224, 250, 0.16), -20%);
    /*字体颜色*/
    /*-fx-font-color: rgb(92, 2, 87);*/
    -fx-font-color: black;
    /* 鼠标悬停时的背景颜色 */
    -fx-button-hover: rgba(243, 191, 243, 0.16);
}

*:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /*边框颜色*/
}

/*main-view左侧背景*/
.main-left {
    -fx-background-color: -fx-base-background;
}

.main-left .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 15 0 15 0; /* 上 右 下 左 */
}

.main-left .jfx-svg-glyph {
    -fx-background-color: #d7e4f1;
}

.main-left .jfx-svg-glyph:hover {
    -fx-background-color: #5c6a6c; /* 鼠标悬停时的背景颜色 */
    -fx-cursor: hand; /* 鼠标悬停时的指针样式 */
}

/*选中后的颜色修改*/
.main-left .list-cell:selected .jfx-svg-glyph {
    -fx-background-color: white;
}


/*********************************left-menu******************************************/
/**********************************center*****************************************/


.main-center .table-view,
.main-center {
    -fx-background-color: white;
}

.main-center .table-view {
    -fx-border-width: 0;
}

.main-center .table-view .table-cell {
    -fx-alignment: bottom-left; /* 内容靠下并右对齐 */
    -fx-text-fill: -fx-font-color; /* 字体颜色 */
}

.main-center .table-view .table-row-cell {
    -fx-cell-size: 35; /* 设置你想要的行高 */
}

.main-center .table-view .table-cell,
.main-center .table-row-cell:empty,
.main-center .table-view .table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.main-center .table-view .table-row-cell:focused {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-width: 1 0 1 0; /* top, right, bottom, left */
    -fx-border-color: -fx-base-background;
}

.main-center .table-view .scroll-bar:horizontal {
    /*visibility: hidden;*/
}

.main-center .table-view .column-header {
    -fx-background-color: white;
    -fx-border-width: 0;
}
.main-center .table-view .filler{
    -fx-background-color: white;
}


/*没多大作用*/
/*.main-center .table-view .scroll-bar:horizontal {*/
/*    visibility: hidden;*/
/*}*/

/* 修改 TableView 表头的字体颜色 */
.main-center .table-view .column-header .label {
    -fx-text-fill: -fx-base-background;
    -fx-alignment: center-left;
}
.main-center .table-view .column-header:last-visible .label{
    -fx-alignment: center;
}

.main-center .table-view .last-column {
    -fx-alignment: bottom-center;
}

.main-center .table-row-cell:hover {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .jfx-text-field,
.main-center .jfx-combo-box {
    -jfx-focus-color: -fx-font-color;
    -fx-prompt-text-fill: -fx-font-color;
    -fx-pref-width: 100;
}

.jfx-text-field > .input-line,
.jfx-combo-box > .input-line {
    -fx-background-color: -fx-base-background;
}

.main-center .jfx-combo-box .list-view {
    -fx-pref-width: 100;
}
.main-center .jfx-combo-box .list-cell{
    -fx-text-fill: -fx-font-color;
}
.main-center .jfx-combo-box .list-view .list-cell:filled:selected,
.main-center .jfx-combo-box .list-cell:hover {
    -fx-background-color: -fx-base-background;
    -fx-text-fill: white; /* 修改文字颜色 */
}

/**********************************center*****************************************/

/******button**********/

.custom-font-button {
    -fx-border-radius: 8;
    -fx-border-color: -fx-base-background;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-font-color; /* 字体颜色 */
    -fx-font-size: 12px; /* 字体大小 */
}

.custom-font-button:hover {
    -fx-background-color: -fx-base-background;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

/* 在 CSS 文件中 */
.svg-button {
    -fx-effect: dropshadow(gaussian, -fx-base-background, 12, 0, 0, 6);
}

.svg-button .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

.svg-button:hover {
    -fx-background-color: -fx-button-hover;
    -fx-background-radius: 5;
}

.warn-hover:hover .jfx-svg-glyph{
    -fx-background-color: #dd0808;
}

.readonly-button{
    -fx-background-radius: 10;
    -fx-text-fill: white; /* 字体颜色 */
    -fx-font-size: 12;
}


/******button**********/


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    /*-fx-decorator-color: rgba(248, 213, 248, 0.84);*/
    /*-fx-background-color: -fx-decorator-color;*/
    -fx-decorator-color: white;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: rgba(244, 235, 244, 0.97);
    -fx-border-width: 1 0 0 0;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: -fx-base-background;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: -fx-base-background;
}

.jfx-decorator .jfx-decorator-buttons-container .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

/******************************ERROR LABELS**********************/
.error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

.error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error, .jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

/******************************ERROR LABELS**********************/

/*.jfx-badge{*/
/*    -fx-max-width: 100;*/
/*    -fx-pref-height: 40;*/
/*}*/

.jfx-badge .badge-pane {
    -fx-background-color: #f40d0d;
    -fx-background-radius: 16;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-alignment: center;
}
/*alert*/
.jfx-badge Label {
    -fx-font-weight: BOLD;
    -fx-font-size: 9;
    -fx-text-fill: WHITE;
}

.jfx-alert-overlay{
    -fx-background-color: #00000011;
    -fx-padding: 0;
}

.jfx-alert-overlay > .depth-container > .jfx-alert-content-container,
.jfx-alert-overlay > .jfx-alert-content-container{
    -fx-background-color: pink;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}