/********************************left-menu*********************************************/
.root {
    /*主要背景颜色*/
    -fx-base-background: derive(rgba(241, 194, 241, 1), -20%);
    /*主要背景颜色2*/
    -fx-base-background2: derive(rgba(241, 194, 241, 1.5), -20%);
    /*主要背景颜色3*/
    -fx-base-background3: derive(rgba(241, 194, 241, 0.5), -20%);
    /*主要背景颜色3*/
    -fx-base-background4: derive(rgba(241, 194, 241, 0.5), -20%);
    /*tableview的选中背景颜色*/
    -fx-table-view-focused: derive(rgba(250, 224, 250, 0.16), -20%);
    /*字体颜色*/
    -fx-font-color: black;
    /* 鼠标悬停时的背景颜色 */
    -fx-button-hover: rgba(243, 191, 243, 0.16);
}

*:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /*边框颜色*/
}

/*main-view左侧背景*/
.main-left {
    -fx-background-color: -fx-base-background;
}

.main-left .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 20 0 20 0; /* 上 右 下 左 */
}

.main-left .jfx-svg-glyph {
    -fx-background-color: #d7e4f1;
}

.main-left .jfx-svg-glyph:hover {
    -fx-background-color: #5c6a6c; /* 鼠标悬停时的背景颜色 */
    -fx-cursor: hand; /* 鼠标悬停时的指针样式 */
}

/*选中后的颜色修改*/
.main-left .list-cell:selected .jfx-svg-glyph {
    -fx-background-color: white;
}


/*********************************left-menu******************************************/
/**********************************center*****************************************/


.main-center .table-view,
.main-center {
    -fx-background-color: white;
}

.main-center .table-view {
    -fx-border-width: 0;
}

.main-center .table-view .table-cell {
    -fx-alignment: center-left;
    -fx-text-fill: -fx-font-color;
}

.main-center .table-view .table-row-cell {
    -fx-cell-size: 35;
}

.main-center .table-view .table-cell,
.main-center .table-row-cell:empty,
.main-center .table-view .table-row-cell:empty:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.main-center .table-view .table-row-cell:focused {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-width: 1 0 1 0; /* top, right, bottom, left */
    -fx-border-color: -fx-base-background;
}

.main-center .table-view .column-header {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.main-center .table-view .filler {
    -fx-background-color: white;
}

/* 修改 TableView 表头的字体颜色 */
.main-center .table-view .column-header .label {
    -fx-text-fill: -fx-base-background;
    -fx-alignment: center-left;
}

/*.main-center .table-view .column-header:last-visible .label {*/
/*    -fx-alignment: center;*/
/*}*/

.xxb-download-bar {
    -fx-padding: 0 0 2 0;
}

.xxb-download-bar .label {
    -fx-text-fill: rgba(7, 7, 7, 0.5);
    -fx-font-size: 10;
}

.xxb-download-bar .jfx-progress-bar > .bar {
    -fx-background-color: -fx-base-background;
    -fx-background-radius: 1;
}

.xxb-download-bar .jfx-progress-bar > .track {
    -fx-background-radius: 1;
}


.main-center .table-view .last-column {
    -fx-alignment: center-left;
}

.main-center .table-row-cell:hover {
    -fx-background-color: -fx-table-view-focused;
}

.main-center .jfx-text-field,
.main-center .jfx-combo-box {
    -jfx-focus-color: -fx-font-color;
    -fx-prompt-text-fill: -fx-font-color;
    -fx-pref-width: 100;
}

.jfx-text-field > .input-line,
.jfx-combo-box > .input-line {
    -fx-background-color: -fx-base-background;
}

.main-center .jfx-combo-box .list-view {
    -fx-pref-width: 100;
}

.main-center .jfx-combo-box .list-cell {
    -fx-text-fill: -fx-font-color;
}

.main-center .jfx-combo-box .list-view .list-cell:filled:selected,
.main-center .jfx-combo-box .list-cell:hover {
    -fx-background-color: -fx-base-background;
    -fx-text-fill: white; /* 修改文字颜色 */
}

/**********************************center*****************************************/

/******button**********/

.custom-font-button {
    -fx-border-color: -fx-base-background;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: -fx-base-background;
    -fx-font-size: 12px; /* 字体大小 */
}

.custom-default-select-button {
    -fx-border-color: -fx-base-background;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 12px; /* 字体大小 */
    -fx-background-color: -fx-base-background;
    -fx-text-fill: white;
}

/* 在 CSS 文件中 */
.svg-button {
    /*-fx-effect: dropshadow(gaussian, -fx-base-background, 12, 0, 0, 6);*/
    /*-fx-background-color: red;*/
    -fx-background-radius: 50%;
    -fx-padding: 3;
}

.svg-button .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

.jfx-button:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}


/*.warn-hover:hover .jfx-svg-glyph {*/
/*    -fx-background-color: #e52c2c;*/
/*}*/

.readonly-button {
    -fx-background-radius: 10;
    -fx-text-fill: white; /* 字体颜色 */
    -fx-font-size: 12;
}


/******button**********/


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
    -fx-decorator-color: white;
    -fx-border-color: -fx-base-background;
    -fx-border-width: 0.334 0.334 0.334 0;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: rgba(244, 235, 244, 0.97);
    -fx-border-width: 1 0 0 0;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: -fx-base-background;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -jfx-size: 12;
    -fx-background-color: -fx-base-background;
}

.jfx-decorator .jfx-decorator-buttons-container .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

/******************************ERROR LABELS**********************/
.error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

.error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error, .jfx-combo-box:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

/******************************ERROR LABELS**********************/

.jfx-badge .badge-pane {
    -fx-background-color: #f40d0d;
    -fx-background-radius: 16;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-alignment: center;
}

.jfx-badge Label {
    -fx-font-weight: BOLD;
    -fx-font-size: 9;
    -fx-text-fill: WHITE;
}

/*alert*/
.jfx-alert-overlay > .depth-container > .jfx-alert-content-container,
.jfx-alert-overlay > .jfx-alert-content-container {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}


.jfx-dialog-layout > .jfx-layout-heading {
    -fx-padding: 14 15 14 15;
    -fx-alignment: center-left;
}

.jfx-dialog-layout > .jfx-layout-heading .label {
    -fx-font-size: 14;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-padding: 0 15 6 15;
    -fx-alignment: center-left;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-text-fill: #757575;
    -fx-font-size: 13;
}

.jfx-dialog-layout > .jfx-layout-heading .label .jfx-svg-glyph {
    -fx-background-color: -fx-base-background;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-padding: 6 15 8 15;
}

.jfx-snackbar-toast {
    -fx-padding: 10;
    -fx-font-size: 12;
    -fx-text-fill: WHITE;
    -fx-background-color: -fx-base-background2;
    -fx-background-radius: 12;
}

/* 修改 TableView 的滚动条样式 */
.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent; /* 设置滚动条背景为透明 */
}
/*滚动条轨道（Track）*/
.table-view .scroll-bar:horizontal .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}
.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}



/* 修改 TableView 的滚动条样式 */
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent; /* 设置滚动条背景为透明 */
}

/*滚动条轨道（Track）*/
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 2;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-insets: 3, 0, 0;
    -fx-background-radius: 2em;
}

.table-view:hover .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-base-background3;
}

.table-view .scroll-bar:vertical .thumb:pressed,
.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-base-background;
}

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: -fx-base-background;
}