/* styles.css */
.uninstall-button {
    -fx-text-fill: red;
}

/* 在 CSS 文件中 */
.custom-shadow-button {
    -fx-background-color: #3392ff; /* 自定义背景色 */
    -fx-text-fill: white; /* 字体颜色 */
    -fx-padding: 5 10; /* 内边距 */
    -fx-font-size: 13px; /* 字体大小 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 5); /* 添加阴影效果 */
}

.custom-button {
    -fx-background-color: #007bff; /* 背景颜色 */
    -fx-text-fill: white; /* 文字颜色 */
    -fx-font-size: 16px; /* 字体大小 */
    -fx-padding: 10 20; /* 内边距 */
    -fx-border-radius: 30; /* 圆角 */
    -fx-background-radius: 30; /* 背景圆角 */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 0, 0, 0, 1); /* 阴影效果 */
}

.custom-button:hover {
    -fx-background-color: #0056b3; /* 鼠标悬停时的背景颜色 */
    -fx-cursor: hand; /* 鼠标悬停时的指针样式 */
}

.custom-button:pressed {
    -fx-background-color: #004085; /* 按下时的背景颜色 */
}